<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ifsc.comedouro"
    versionCode = "10"
    version     = "1.0.0" >

    <name>Comedouro</name> <!-- nome do aplicativo -->

    <description>
      PPC
    </description>

    <author href="#" email="#">
      Prof. André.
    </author>

    <platform name="android">
      <preference name="android-minSdkVersion" value="18" /> <!-- versao minima android -->
      <preference name="android-targetSdkVersion" value="21" /> <!-- versao alvo -->
    </platform>

    <!-- icones -->
    <icon src="img/mdpi.png" platform="android" qualifier="mdpi" />
    <icon src="img/hdpi.png" platform="android" qualifier="hdpi" />
    <icon src="img/xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="img/xxhdpi.png" platform="android" qualifier="xxhdpi" />
    <icon src="img/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />

    <!-- tela entrada -->
    <splash src="img/hdpi.png" platform="android" qualifier="hdpi" />

    <!-- push plugin -->
    <plugin name="cordova-plugin-firebase" spec="^2.0.0" />
    </plugin>
    <!-- push plugin -->
    <plugin name="cordova-plugin-whitelist" version="1" />
  
    <access origin="*"/>
      <allow-intent href="http://*/*" />
      <allow-intent href="https://*/*" />
      <allow-intent href="tel:*" />
      <allow-intent href="sms:*" />
      <allow-intent href="mailto:*" />
      <allow-intent href="geo:*" />
    <allow-intent href="whatsapp:*" launch-external="yes"/>
      <allow-intent href="market:*" launch-external="yes"/>

</widget>